/*** Base ***/
body {
  color: #333;
  background-color: #FDFDFD;
}

h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  margin: 2%;
}

/***  Layout ***/

#container {
  margin: 2% auto;
  padding: 3%;
  border: 1px solid #333;
  width: 35%;
}

/***  Modules  ***/

h2:first-child {
  margin-top: 0;
}

.add {
  color: #7ED321;
  border: 1px solid #7ED321;
  background-color: #FDFDFD;
  transition: all 0.5s;
}

.add:hover {
  color: #FDFDFD;
  background-color: #7ED321;
  transition: all 0.5s;
}

.edit {
  color: #D5C818;
  border: 1px solid #D5C818;
  background-color: #FDFDFD;
  transition: all 0.5s;
}

.edit:hover {
  color: #FDFDFD;
  background-color: #D5C818;
  transition: all 0.5s;
}

.delete {
  color: #D0021B;
  border: 1px solid #D0021B;
  background-color: #FDFDFD;
  transition: all 0.5s;
}

.delete:hover {
  color: #FDFDFD;
  background-color: #D0021B;
  transition: all 0.5s;
}

#completeTasks label,
#completeTasks input[type="text"]
 {
  text-decoration: line-through;
  color: gray;
}

/*** State ***/

/*edit task*/
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: inline;
}

ul li.editMode label {
  display: none;
}
